@import 'assets/scss/variables';

.checkout {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: $space-32;
	background-color: $color-neutral;

	.checkout__body {
		display: flex;
		flex-direction: column;
		gap: $space-32;
  	max-width: 650px;
		width: 100%;
		padding: $space-16;

		@media screen and (max-width: 920px) {
			max-width: 400px;
		}

		h3 {
			margin-bottom: $space-8;
			color: $color-white;
		}
		input {
			margin-top: $space-8;
			color: $color-neutral;
			font-size: $font-size-18;
			width: -webkit-fill-available;
		}
	}

	.checkout__confirm {
		margin: $space-32 0;
		align-self: center;
		color: $color-white;
		font-size: $font-size-18;
		padding: $space-16;
	}

	.checkout__success {
		display: flex;
		flex-direction: column;
		gap: $space-32;
		padding: $space-84;
		h1 {
			color: $color-white;
		}
	}
}
