@import 'assets/scss/variables';

.items {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	margin-top: $space-42;
	gap: $space-84;
	padding: $space-32;
	justify-content: center;
}

.to-cart {
	position: sticky;
	cursor: pointer;
	bottom: 0;
	width: 100%;
	border-radius: 0%;
	padding: $space-16;
	font-size: $font-size-24;
	background-color: $color-secondary;
	animation: btn-in 1s ease-out;
}

@keyframes btn-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
