@import 'assets/scss/variables';

button {
	cursor: pointer;
	color: $color-neutral;
	background-color: $color-primary;
	border: none;
	user-select: none;
	padding: $space-8;
	border-radius: $space-8;
	font-weight: 700;
	font-size: $font-size-18;
	transition: all .5s ease;

	&.secondary {
		background-color: $color-secondary;
		color: $color-white;
	}

	&.neutral {
		background-color: $color-neutral;
		color: $color-white;
	}

	&:hover {
		filter: brightness(.95);
	}
}
